@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
}
.container{
    width: 100%;
    height: 100vh;
    display: block;
    margin: auto;
    background-image: url(pharmacy_bg.png);
    background-size: cover;
}
/*------------------------ Navigation bar like search -----------------*/
.navigation{
    height: 35px !important;
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(19, 179, 104, 0.884);
    padding: 10px 0px 10px 0px;
}
.header, .nav, .log{
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    padding-left: -40px;
}
a{
    text-decoration: none;
    color: white;
}

.log ul li{
    list-style: none;
    display: inline-block;
}
.log img{
    padding-right: 20px;
    padding-top: 5px;
    width: 20px;
    height: 20px;
}
.log ul li p{
    font-size: 14px;
    font-weight: bold;
    margin-left: -23px;
}
.log a{
    text-decoration: none;
}
.title{
    color: rgb(8, 172, 184);
    font-size: 30px;
    padding-top: 100px;

    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0.699);
    width: 50%;
    margin-top: 100px;
    height: 50%;
    border-radius: 0px 500px 500px 0px;
}
.title p{
    color: white;
    font-size: 25px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*****create effect for medicine pack's******/
.container-2{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #c2c1c01f;
}
.from-text{
    text-align: center; 
    font-size: 50px;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.promo{
    margin-top: 20px;
    width: 100%;
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    justify-content: space-between;
}

.img-set{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    background-color: rgba(19, 179, 104, 0.884);
    padding-top: 10px;
    border-radius: 40px;
    padding-bottom: 10px;
}
.img-set img{
    display: inline;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: 5px rgb(6, 109, 194) solid;
}
.promo-1{
    padding: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 180px;
    box-shadow: 0px 5px 20px 1px;
    border-radius: 40px;
}
.promo-1 p{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

/* create underline for heading */
.underline{
    display: inline-block;
    position: relative;
    color: white;
}
.underline::after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  top: 18px;
  bottom: 0;
  left: 0;
  background-color: #ff5f02;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.underline:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.promo-underline{
    margin-top: 15px;
    height: 3px;
    border: none;
    background-color: rgb(6, 109, 194);
}

/*--------Creat hover effect for products----------*/
.promo-1:hover{
    padding: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 180px;
    box-shadow: 0px 20px 50px 10px;
    border: white solid 3px;
    border-radius: 0px;
    transition: 0.5s;
}

/*-----------create for store content---------------*/

.store-content{
    margin-top: 50px;
    width: 100%;
    margin-bottom: 50px;
}
.cosmo{
    display: flex;
    justify-content: space-between;
}
.part-1 p{
    font-size: 20px;
    font-weight: 700;
    margin-left: 8%;
    margin-right: 8%;
}

/*-----store collection list ------*/
.col{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.store-collection{
    background-color: rgba(255, 255, 255, 0.541);
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.col-1{
    margin: 30px;
    box-shadow: 1px 1px 300px 2px rgba(3, 130, 235, 0.507);
    padding: 10px;
}
.col-1 img{
    border: #ff5f02 solid;
}

/*------ Edit add to chart button -------*/
.button{
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(45, 214, 45);
    color: white;
    font-weight: 700;
    cursor: pointer;
    border: none;
}
.button:hover{
    scale: 105%;
    transition: 0.5s;
    background-color:#ff5f02;
}


@media only screen and (max-width: 900px) {

    .container{
        width: 100%;
        height: 100vh;
        display: block;
        margin: auto;
        background-image: url(pharmacy_bg.png);
        background-size: initial;
    }

    .navigation{
        width: 100%;
        display: flex;
        height: 60px !important;
    }
    .header, .log{
        margin-top: 0;
        display: flex;
        width: 100%;
        }
        .log{
            padding-right: 0px;
        }
    .header img, .log img{
        width: 20px;
        height: 20px;
    }
    .header{
        float: right;
    }
    .nav{
        padding-top: 30px;
        width: 100%;
        margin-left: 5%;
        font-size: 12px;
        display: flex;  
        justify-content: space-between;
        position: absolute;
    }
    
    .container{
        display: block;
        width: 100%;
        background-position: center;
        background-size: cover;
        
    }
    .title h1{
        margin-top: -45px;
        font-size: 25px;
    }
    .title p{
        font-size: 14px;
    }
    .title{
        height: 30%;
    }
/*-------------- Promotion ------------------*/

.from-text{
    text-align: center; 
    font-size: 35px;
     margin-top: 20px; 
    margin-bottom: 20px;
}
    .promo{
        margin-top: 20px;
        width: 100%;
        display:block;
        margin-left: 0;
        margin-right: 0;
        border: none;
    }
    .promo-1{
        width: 100%;
        margin: 20px;
        height: 300px;
    }
    .promo-1:hover{
        display: none;
    }
    .img-set{
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: center;
        background-color: rgba(19, 179, 104, 0.884);
        padding-top: 10px
        padding-bottom: 10px;
    }
    .img-set img{
        display: inline;
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
        border: 5px rgb(6, 109, 194) solid;
    }
    .promo-1 p{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    /*------------STORE CONETENT------------*/
    .col{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .store-collection{
        background-color: rgba(255, 255, 255, 0.541);
        margin-top: 20px;
        width: 90%;
        display: block;
        justify-content: space-between;
        text-align: center;
    }
  }

/*
  
*/